.button{
    overflow: hidden;
    padding: 15px 45px 14px 45px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.2s ease 0.01ms;
    border: 0;
    cursor: pointer;
    color: white;
    white-space: nowrap;
    display: inline-block;
    border-radius: 25px;
    &:hover{
      color: white;
      text-decoration: none;
    }
    @include font(16px, 15px);

    &--green{
      background-color:green;
    }
}